.top {
  height: 6vh;
  background-color: #350d36;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topone {
  margin-left: 500px;
  display: flex;
  align-items: center;
}
.icon {
  color: white;
  width: 50px;
}
.inputfield {
  width: 700px;
  height: 25px;
  border-radius: 5px;
  background-color: #644565;
}
::placeholder {
  color: #a391a5;
  letter-spacing: 1px;
}
.icon.one {
  margin-right: -40px;
}
input {
  margin-left: 20px;
}
.toptwo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.icon.four {
  height: 35px;
}
.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.iconMulti {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -70px;
}
@media screen and (max-width: 1600px) {
  .topone {
    margin-left: 100px;
  }
}
@media screen and (max-width: 980px) {
  .topone {
    margin-left: 0px;
  }
  .inputfield {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .topone {
    margin-left: 0px;
  }
  .inputfield {
    width: 200px;
  }
}
@media screen and (max-width: 380px) {
  .topone {
    margin-left: 0px;
  }
  .inputfield {
    width: 100px;
  }
}