.random {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ricon {
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 15px;
  display: flex;
}
.randomi {
  font-size: 40px;
  margin: 0 5px;
}
.book {
  text-align: start;
}
.emoji {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 200px;
}
.text {
  text-align: start;
  margin-left: 20px;
}
.smile{
    margin-left: 10px;
    font-size: 40px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background: #F4EDE4;
}
.add{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.out{
    margin-left: 90px;
}
.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.timed{
    margin-left: 10px;
}
.joined{
    margin-top: -20px;
    margin-left: 5px;
}
.chatMain.rando{
    margin-left: 300px;
}