aside {
  float: left;
  width: 17vw;
  background-color: #3f0e40;
  color: white;
  height: auto;
}
.one {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.two,
.three {
  text-align: start;
  margin-left: 15px;
}
.four {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.auto {
  margin-top: 130px;
}
.iconlast {
  border: 1px solid white;
  border-radius: 10px;
  padding: 3px;
}
.iconhead {
  margin-left: 10px;
}
.icon.big {
  height: 35px;
}
.route {
  text-decoration: none;
  font-style: none;
  color: white;
}
p:hover {
  border-radius: 20px;
  background-color: #a391a5;
  padding: 5px;
}
.channel {
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  margin-left: -5px;
  margin-top: 10px;
}
.channel:hover {
  border-radius: 20px;
  background-color: #a391a5;
  padding: 5px;
  width: 16vw;
}
.hello {
  background-color: white;
  font-weight: 50px;
}
.channelinput {
  width: 150px;
  height: 20px;
  border-radius: 20px;
}
.create {
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px;
  font-weight: bolder;
}
.icon {
  text-decoration: none;
}
.addchannel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -10px;
}
.deletedIn,
.edit2 {
  margin-left: 10px;
  border: none;
  background-color: #a391a5;
  border-radius: 10px;
  padding: 5px;
  color: white;
}
.finalize {
  display: flex;
  justify-content: center;
  align-items: center;
}
button:active {
  background-color: #3f0e40;
}
.editInput {
  border-radius: 10px;
  height: 20px;
}
@media screen and (max-width: 1070px) {
  aside {
    width: 30vw;
  }
}
@media screen and (max-width: 630px) {
  aside {
    width: 50vw;
  }
}
@media screen and (max-width: 360px) {
  aside {
    width: 80vw;
  }
}
